@-webkit-keyframes shiftTop
{
    0%
    {
        top: -400px;
        
    }
    5%
    {
        font-family: 'Courier New', Courier, monospace;
    }
    10%
    {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    15%
    {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    20%
    {
        font-family: inherit;
    }
    25%
    {
        font-family: 'Courier New', Courier, monospace;
    }
    30%
    {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    35%
    {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    40%
    {
        font-family: inherit;
    }
    45%
    {
        font-family: 'Courier New', Courier, monospace;
    }
    50%
    {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    55%
    {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    60%
    {
        font-family: inherit;
        top: 0;
    }
    65%
    {
        font-family: 'Courier New', Courier, monospace;
    }
    70%
    {
        font-family: inherit;
    }
    75%
    {
        font-family: 'Courier New', Courier, monospace;
    }
    80%
    {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    85%
    {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    90%
    {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    95%
    {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    100%
    {
        font-family: inherit;
    }
}

@keyframes shiftTop
{
    0%
    {
        top: -400px;
        
    }
    5%
    {
        font-family: 'Courier New', Courier, monospace;
    }
    10%
    {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    15%
    {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    20%
    {
        font-family: inherit;
    }
    25%
    {
        font-family: 'Courier New', Courier, monospace;
    }
    30%
    {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    35%
    {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    40%
    {
        font-family: inherit;
    }
    45%
    {
        font-family: 'Courier New', Courier, monospace;
    }
    50%
    {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    55%
    {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    60%
    {
        font-family: inherit;
        top: 0;
    }
    65%
    {
        font-family: 'Courier New', Courier, monospace;
    }
    70%
    {
        font-family: inherit;
    }
    75%
    {
        font-family: 'Courier New', Courier, monospace;
    }
    80%
    {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    85%
    {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    90%
    {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    95%
    {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    100%
    {
        font-family: inherit;
    }
}

@-webkit-keyframes shiftRight
{
    0%
    {
        right: -400px;
        
    }
    5%
    {
        font-family: 'Courier New', Courier, monospace;
    }
    10%
    {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    15%
    {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    20%
    {
        font-family: inherit;
    }
    25%
    {
        font-family: 'Courier New', Courier, monospace;
    }
    30%
    {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    35%
    {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    40%
    {
        font-family: inherit;
    }
    45%
    {
        font-family: 'Courier New', Courier, monospace;
    }
    50%
    {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    55%
    {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    60%
    {
        font-family: inherit;
        right: 0;
    }
    65%
    {
        font-family: 'Courier New', Courier, monospace;
    }
    70%
    {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    75%
    {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    80%
    {
        font-family: inherit;
    }
    85%
    {
        font-family: 'Courier New', Courier, monospace;
    }
    90%
    {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    95%
    {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    100%
    {
        font-family: inherit;
    }
}

@keyframes shiftRight
{
    0%
    {
        right: -400px;
        
    }
    5%
    {
        font-family: 'Courier New', Courier, monospace;
    }
    10%
    {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    15%
    {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    20%
    {
        font-family: inherit;
    }
    25%
    {
        font-family: 'Courier New', Courier, monospace;
    }
    30%
    {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    35%
    {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    40%
    {
        font-family: inherit;
    }
    45%
    {
        font-family: 'Courier New', Courier, monospace;
    }
    50%
    {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    55%
    {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    60%
    {
        font-family: inherit;
        right: 0;
    }
    65%
    {
        font-family: 'Courier New', Courier, monospace;
    }
    70%
    {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    75%
    {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    80%
    {
        font-family: inherit;
    }
    85%
    {
        font-family: 'Courier New', Courier, monospace;
    }
    90%
    {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    95%
    {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    100%
    {
        font-family: inherit;
    }
}

@-webkit-keyframes shiftLeft
{
    0%
    {
        left: -300px;
        color: transparent;
    }
    10%
    {
        font-family: 'Courier New', Courier, monospace;
    }
    10%
    {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    15%
    {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    20%
    {
        font-family: inherit;
    }
    25%
    {
        font-family: 'Courier New', Courier, monospace;
        color: inherit;
    }
    30%
    {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    35%
    {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    40%
    {
        font-family: 'Courier New', Courier, monospace;
    }
    45%
    {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    50%
    {
        font-family: inherit;
    }
    55%
    {
        font-family: 'Courier New', Courier, monospace;
    }
    60%
    {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        left: 0;
    }
    65%
    {
        font-family: inherit;
    }
    70%
    {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    75%
    {
        font-family: 'Courier New', Courier, monospace;
    }
    80%
    {
        font-family: inherit;
    }
    85%
    {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    90%
    {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    95%
    {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    100%
    {
        font-family: inherit;
    }
}

@keyframes shiftLeft
{
    0%
    {
        left: -300px;
        color: transparent;
    }
    10%
    {
        font-family: 'Courier New', Courier, monospace;
    }
    10%
    {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    15%
    {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    20%
    {
        font-family: inherit;
    }
    25%
    {
        font-family: 'Courier New', Courier, monospace;
        color: inherit;
    }
    30%
    {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    35%
    {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    40%
    {
        font-family: 'Courier New', Courier, monospace;
    }
    45%
    {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    50%
    {
        font-family: inherit;
    }
    55%
    {
        font-family: 'Courier New', Courier, monospace;
    }
    60%
    {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        left: 0;
    }
    65%
    {
        font-family: inherit;
    }
    70%
    {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    75%
    {
        font-family: 'Courier New', Courier, monospace;
    }
    80%
    {
        font-family: inherit;
    }
    85%
    {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    90%
    {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    95%
    {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    100%
    {
        font-family: inherit;
    }
}

@-webkit-keyframes shiftBottom
{
    0%
    {
        bottom: -600px;
        
    }
    5%
    {
        font-family: 'Courier New', Courier, monospace;
    }
    10%
    {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    15%
    {
        font-family: inherit;
    }
    20%
    {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    25%
    {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    30%
    {
        font-family: 'Courier New', Courier, monospace;
    }
    35%
    {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    40%
    {
        font-family: inherit;
    }
    45%
    {
        font-family: 'Courier New', Courier, monospace;
    }
    50%
    {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    55%
    {
        font-family: inherit;
        bottom: 0;
    }
    60%
    {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    65%
    {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    70%
    {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    75%
    {
        font-family: inherit;
    }
    80%
    {
        font-family: 'Courier New', Courier, monospace;
    }
    85%
    {
        font-family: 'Courier New', Courier, monospace;
    }
    90%
    {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    95%
    {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    100%
    {
        font-family: inherit;
    }
}

@keyframes shiftBottom
{
    0%
    {
        bottom: -600px;
        
    }
    5%
    {
        font-family: 'Courier New', Courier, monospace;
    }
    10%
    {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    15%
    {
        font-family: inherit;
    }
    20%
    {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    25%
    {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    30%
    {
        font-family: 'Courier New', Courier, monospace;
    }
    35%
    {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    40%
    {
        font-family: inherit;
    }
    45%
    {
        font-family: 'Courier New', Courier, monospace;
    }
    50%
    {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    55%
    {
        font-family: inherit;
        bottom: 0;
    }
    60%
    {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    65%
    {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    70%
    {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    75%
    {
        font-family: inherit;
    }
    80%
    {
        font-family: 'Courier New', Courier, monospace;
    }
    85%
    {
        font-family: 'Courier New', Courier, monospace;
    }
    90%
    {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    95%
    {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    100%
    {
        font-family: inherit;
    }
}

@-webkit-keyframes flowTop
{
    0%
    {
        color: transparent;
        top: -100px;
    }
    70%
    {
        top: 0;
    }
    100%
    {
        color: inherit;
    }
}

@keyframes flowTop
{
    0%
    {
        color: transparent;
        top: -100px;
    }
    70%
    {
        top: 0;
    }
    100%
    {
        color: inherit;
    }
}