:root
{
    --secondColor: #000;
    --firstColor: #030917;
    --thirdColor: #081525;
    --fourthColor: #0E1E2E;
    --fifthColor: #202D3F;
    --firstTextColor: #fff;
    --secondTextColor: #4169E1;
    --bodyPadding: 10vw;
    --imgShift: 10vw;
}

*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body
{
   background-color: var(--firstColor);
   color: var(--firstTextColor);
   font-family: Roboto, Helvetica, sans-serif;
   padding: 0 var(--bodyPadding);
}

body a
{
    color: inherit;
    text-decoration: unset;
}
/* div
{
    border: 1px red solid;
    box-sizing: border-box;
} */

/******Header*********/

.bodyHeader
{
    display: flex;
    flex-direction: column;   
    position: relative;
    padding-bottom: 100px;
}
.bodyHeader .backgrounder
{
    position: absolute;
    transform: translateX(calc(0vw - var(--bodyPadding)));
    height: 100%;
    width: calc(100% + 2*var(--bodyPadding));
    background-image: url(https://picsum.photos/1080/720/?image=800);
    background-size: cover;
    box-sizing: border-box;
    display: flex;
    z-index: -1;
}
.bodyHeader .backgrounder .first
{
    background-color: var(--fifthColor);
    opacity: 0.8;
    width: calc(100vw - 2*var(--bodyPadding) - var(--imgShift));
    
}
.bodyHeader .backgrounder .second
{
    background-color: var(--firstColor);
    opacity: 0.8;
    width:  calc(2* var(--bodyPadding) + var(--imgShift));
}


.headerNav ul
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    width: 100%;
    box-sizing: border-box;
    padding: 2em 0;
}

.headerNav li
{
    padding: 0.5em;
    margin: auto 10px;
    box-sizing: border-box;
    text-align: center;
    font-weight: 700;
}

.headerBanner
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10vh 0;
}

.headerBanner div.text
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.headerBanner h1
{
    font-size: 5em;
    margin-bottom: 4.5vh;
}

.headerBanner p
{
    word-wrap: break-word;
    width: 50%;
}

.headerBanner img
{
    min-width: 150px;       //być do zmiany
    max-width: 17vw;
    height: auto; 
    top: unset;
    right: 0;
    position: absolute;
    transform: translateX(calc(0vw - var(--imgShift)));
    border-radius: 50%;
}

/********* CVAside **************/
.contactCV, .portfolio figcaption, .elementContainer
{
    background-color: var(--secondColor);
    box-shadow: 4px 4px 3px 0 rgba(0,0,0,0.5);
}


.contactCV
{
    margin: 30px calc(0vw - var(--bodyPadding));
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em 0;
}

.contactCV h2
{
    font-size: 2.2em;
    text-align: center;
    padding-bottom: 1em;
}

.contactCV .buttons
{
    display: flex;
    justify-content: space-evenly;
    width: 60%;
    flex-wrap: wrap;
}

.contactCV .buttons a
{
    border: solid 2px white;
    padding: 1em;
}

/********* Main **********/

.container
{
    display: grid;
    grid-auto-columns: 1fr;
    grid-gap: 30px;
}

.container section
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.elementTitle
{
    font-size: 2.2em;
    padding-bottom: 0.2em;
}

.elementContainer
{
    padding: 30px 8vw;
    width: 100%;
    box-shadow: 1px
}

.elementContainer ul
{
    list-style: none;
}

/******** About me *********/

.aboutMe .elementContainer
{
    display: flex;
}

.aboutMe .personalData
{
    flex: 1;
}

.aboutMe li
{
    line-height: 1.5;
    padding: 0.2em 30px 0.2em 0;
}

.aboutMe .text
{
    word-wrap: break-word;
    text-align: justify;
    text-align-last: center;
    padding: 0.2em 0 0 30px;
    border-left: 1px var(--fifthColor) solid;
    flex: 1;
}

.aboutMe span
{
    display: inline-block;
    padding-left: 0.4em;
    font-weight: 700;
    color: var(--secondTextColor);
}

/******** Gallery *************/

.portfolio .elementContainer
{
    font-size: 14px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    justify-items: center;
    justify-content: space-between;
    padding: 30px 10px;
    background: 0;
    box-shadow: none;
}

.portfolio .elementContainer figure
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.portfolio figcaption
{
    display: flex;
    flex-direction: column;
    padding: 10px 15px;
}

.portfolio img
{
    width: 100%;
    margin-bottom: -4px;
}

.portfolio figcaption a
{
    font-size: 0.8em;
    margin-bottom: 1.5em;
    color: var(--secondTextColor);
}




