*
{
    margin: 0;
    padding: 0;
    border: 0;
}
:root
{
    --shadow-color: #333;
    --first-color: #b33939;
    --first-text-color: #f7f1e3;
    --second-color: #d1ccc0;
    --second-text-color: #333;
    --helping-color: #2c2c54;
    --width: 95vw;
    --center: calc((100vw - var(--width))/2);
}
html
{
    font-size: 16px;
}
body
{
    font-family: Roboto, Arial, sans-serif;
}
header
{
    position: relative;
    width: 100vw;
}
header.bodyheader
{
    display: flex;
}
body::before
{
    content: "";
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url(https://picsum.photos/1600/900?image=10);
    background-size: cover;
    background-position: center;
    z-index: -1;
    
}
.bodyheader a
{
    text-decoration: none;
    color: inherit;
}
/* ***************** Navigation Bar ****************/

.header-nav
{
    width: 100vw;
    position: fixed;
    z-index: 100;
    background: var(--first-color);
    color: var(--first-text-color);
    box-shadow: 0px 2px 3px 0 var(--shadow-color);
    font-size: 1.2rem;
}
ul.nav
{
    position: relative;
    width: var(--width);
    left: var(--center);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
    box-sizing: border-box;
}
ul.nav li a
{
    display: block;
    padding: 5px 10px;
    box-sizing: border-box;
    border: 2px solid transparent;
    text-align: center;
    height: 100%;
}
ul.nav li a:hover
{
    background-color: var(--first-text-color);
    color: var(--first-color);
}
ul.nav li.icon
{
    flex: 1;
}
ul.nav li.page
{
    flex: 3;
}
ul.nav li.page a
{
    display: flex;
    flex-direction: column;
    justify-content: center;
} 
ul.nav li img
{
    width: 25px;
    padding-top: 5px;
}
/************** Banner  *************/
.header-banner
{
    position: relative;
    top: 6rem;
    width: var(--width);
    left: var(--center);
    display: flex;

    background-color: #555; 
    background-color: var(--second-color);
    box-shadow: 2px 2px 3px 0 var(--shadow-color);
    color: var(--second-text-color);

    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 8rem;
}

.header-banner .fline
{
    font-size: 1.4rem
}
.header-banner strong
{
    color: var(--first-color);
}
.header-banner .text
{
    padding-right: 30px;
    text-align: justify;
    word-wrap: break-word;
}
/******************* Contact CV *********************/
.contactCV
{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: var(--width);
    left: var(--center);

    background-color: var(--second-color);
    color: var(--second-text-color);

    padding: 20px;
    box-shadow: 2px 2px 3px 0 var(--shadow-color);
    box-sizing: border-box;
}
.contactCV h3
{
    margin-bottom: 15px;
}
.contactCV .buttons
{
    display: flex;
    justify-content: center;
}
.contactCV .buttons a
{
    display: block;
    text-decoration: none;
    color: inherit;
    padding: 10px;
    margin: 10px;
    border: 1px solid #000;
    box-shadow: 2px 2px 4px 1px var(--shadow-color);
}
.contactCV .buttons a:hover
{
    background-color: var(--first-color);
    color: var(--first-text-color);
    border-color: var(--helping-color);
    box-shadow: 2px 2px 4px 1px var(--helping-color);
}
@media only screen and (min-width: 1000px)
{
    :root
    {
        --width: 80vw;
        --center: calc((100vw - var(--width))/2);
    }
    .header-banner
    {
        border-radius: 5px;
    }
    ul.nav
    {
        width: var(--width);
        left: var(--center);
    }
}
@media only screen and (max-width: 400px)
{
    :root
    {
        --width: 100vw;
        --center: calc((100vw - var(--width))/2);
    }
    /************** Navigation Bar ***************/
    .header-nav
    {
        position: absolute;

    }
    .header-nav ul
    {
        flex-wrap: unset;
    }
    .header-nav li.page
    {
        display: none;
        flex: 0;
    }
    .header-nav li.icon
    {
        flex: 1;
    }
    /************** Banner *********************/
    .header-banner
    {
        top: 5rem;
        flex-direction: column;

        margin-bottom: 7rem;
    }
    .header-banner .text
    {
        padding-bottom: 20px;
    }
    /*************** Aside *******************/
    .contactCV
    {

    }
}