:root
{
    --firstColor: #19425D;
    --secondColor: #030917;
    --thirdColor: #081525;
    --fourthColor: #0E1E2E;
    --fifthColor: #202D3F;
    --firstTextColor: #fff;
    --secondTextColor: #4169E1;
    --bodyPadding: 10vw;
    --imgShift: 20vw;
}