:root
{
    --firstColor: #d2d7d8;
    --secondColor: #101d3d;
    --thirdColor: #081525;
    --fourthColor: #E74C3C;
    --fifthColor: #202D3F;
    --firstTextColor: #fff;
    --secondTextColor: #4169E1;
    --bodyPadding: 10vw;
    --imgShift: 20vw;
}